@model phbgtu_ticketing_prototypes.Models.TicketEvent

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Movie</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="ticketDesign" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ticketDesign" class="form-control" />
                <span asp-validation-for="ticketDesign" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ticketSalesEnabled" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ticketSalesEnabled" class="form-control" />
                <span asp-validation-for="ticketSalesEnabled" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="customMessage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="customMessage" class="form-control" />
                <span asp-validation-for="customMessage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="beginSales" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="beginSales" class="form-control" />
                <span asp-validation-for="beginSales" class="text-danger"></span>
            </div>
        </div>
		<div class="form-group">
            <label asp-for="endSales" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="endSales" class="form-control" />
                <span asp-validation-for="endSales" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>