@model phbgtu_ticketing_prototypes.Models.TicketDesign

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>TicketDesign</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TicketDesignID" />
        <div class="form-group">
            <label asp-for="DesignName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DesignName" class="form-control" />
                <span asp-validation-for="DesignName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DesignDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DesignDescription" class="form-control" />
                <span asp-validation-for="DesignDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventTicketCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventTicketCode" class="form-control" />
                <span asp-validation-for="EventTicketCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
